.contacts {
  padding-left: 0;
  list-style: none;
}

.title {
  display: flex;
  margin-bottom: 20px;
}

.select {
  min-width: 100px;
}

.button {
  margin: 0;
}

.button:not(:last-child) {
  margin-right: 8px;
}
