.header {
  background-color: #56ccf2;
  background-size: cover;
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 30px;
  object-fit: cover;
}
