.nav {
  padding-left: 20px;
  background-color: #56ccf2;
  grid-area: nav;
}

.list {
  padding: 0;
  list-style-type: none;
}

.item {
  text-decoration: none;
  color: #fff;
}

.item_active {
  text-decoration: none;
  color: #f00;
}
