.nav {
  background-color: #56ccf2;
  grid-area: nav;
}

.list {
  list-style-type: none;
}

.item {
  text-decoration: none;
  color: #fff;
}

.item_active {
  text-decoration: none;
  color: #f00;
}
