.app-wrapper {
  display: grid;
  max-width: 1280px;
  margin: auto;
  grid-template: 60px 1fr / 2fr 10fr;
  grid-template-areas:
          'header header'
          'nav content'
          'side content';
  grid-gap: 4px;
}

.app-wrapper__content {
  background-color: #fff;
  grid-area: content;
}
